.footer {
	background: $cor-amarelo;
	padding: 0;
	.container {
		
		.bloco {
			display: flex;
			justify-content: space-around;
			.feito-por {
				text-align: center;
				.texto {
					@include font1-italic;
					font-size: 18px;
				}
				.svg-inline--fa {
					padding-right: 0px;
					padding-left: 15px;
					color: $cor-grafite;
					font-size: 35px;
					
					svg {
						transition: all 500ms ease;
						
						&:hover {
							color: $cor-branca;
							-webkit-transform: scale(1.3);
							-ms-transform: scale(1.3);
							transform: scale(1.3);
						}
					}
				}
			}
		}
		
		.footer-info {
			display: flex;
			justify-content: space-around;
			.menu {
				.menu-item {
					transition: all 500ms ease;
					display: inline-block;
					a {
						color: $cor-grafite;
						font-size: 25px;
						padding: 4px 30px;
						display: block;
						transition: all 500ms ease;
					}
					.icon {
						padding-right: 0px;
						padding-left: 15px;
						color: $cor-grafite;
						svg {
							transition: all 500ms ease;
							&:hover {
								color: $cor-branca;
								-webkit-transform: scale(1.3);
								-ms-transform: scale(1.3);
								transform: scale(1.3);
							}
						}
					}
				}
			}
		}
	}
}