/*Topo e Menu*/

.topo {
  width: 100%;
  height: 60px;
  text-align: right;
  z-index: 10000;
  padding: 9px 0;
  background: $cor-grafite;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all 500ms ease;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  &.transparent {
    background: transparent;
    box-shadow: none;
    
 }
  .container {
    input#menu {
      display: none;
    }
    .menu_geral {
      display: inline-block;
      width: auto;
      .menu_info {
        .menu_links {
          .menu-menu-principal-container {
            .menu {
              .menu-item {
                transition: all 500ms ease;
                display: inline-block;
                a {
                  color: $cor-amarelo;
                  @include font1-bold;
                  font-size: 20px;
                  text-transform: uppercase;
                  padding: 10px 30px;
                  display: block;
                  text-align: center;
                  transition: all 500ms ease;
                  &:hover {
                    color: $cor-branca;
                  }
                }
                .icon {
                  padding-right: 0px;
                  padding-left: 15px;
                  svg {
                    transition: all 500ms ease;
                    &:hover {
                      color: $cor-branca;
                      -webkit-transform: scale(1.3);
                      -ms-transform: scale(1.3);
                      transform: scale(1.3);
                    }
                  }
                }
              }
              
              .current_page_item  a {
                color: $cor-grafite;
              }
            }
          }
        }
      }
    }
  }
}