html {
    & > body {
		@media(max-width: 1199px) {
			
			.topo .logo-mobile {
				display: block;
				width: 88px;
				height: auto;
				margin-top: -15px;
				img {
					width: 100%;
    				display: block;
				}
            }
		}

        @media(max-width: 991px) {
			.topo .custom-logo-link {
				display: none !important;
			}
			p {
			}
			.titulo11 {
			}
			.titulo1 {
			}
			
			&.home {
                padding-top: 0px;

                .topo.transparent {
					transition: all 500ms ease;
                    background: transparent;
                
					.custom-logo-link {
						transition: all 500ms ease;
						display: none;
					}
					.logo-mobile {
						transition: all 500ms ease;
						display: none;
					}
            	}
			}
			.container-menu {
				display: block;
				position: relative;
				width: 40px;
				height: 40px;
				cursor: pointer;
			  }
			  
			#menu { display: none; }
			
			.menu-button {
				width: 100%;
				height: 5px;
				background-color: $cor-amarelo;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				transition: all .5s ease-in-out;
			}
			
			.menu-button:before, .menu-button:after {
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
				height: 5px;
				background-color: $cor-amarelo;
				transition: all .5s ease-in-out;
			} 
			
			.menu-button:before { 
				top: -12px; 
			}
			.menu-button:after { 
				top: 12px; 
			}
			
			.menu-button, .menu-button:before, .menu-button:after { 
				box-shadow: 1px 1px 10px rgba(0, 0, 0, .3)
			} 
			
			#menu:checked + label .menu-button{ 
				background-color: rgba(0, 0, 0, 0); box-shadow: none;
			}
			
			#menu:checked + label .menu-button:before{ 
				transform: rotate(45deg); top: 0px;
			}
			
			#menu:checked + label .menu-button:after{ 
				transform: rotate(135deg); top: 0
			}

			.topo .logo-mobile {

				display: block;
				width: 88px;
				height: auto;
				margin-top: -15px;
            }

			.topo {
				transition: all 500ms ease;
                position: fixed;
                top: 0;
                left: 0;
                background: $cor-grafite;
                z-index: 999;
				height: 60px;
				
				.menu-lateral {
					#menu-menu-lateral {
						li {
							width: 50px;
							height: 50px;
						}
					}
				}
			}
			
			
			.menu_geral ul.menu > li:before {
				display: none;
				
			}
			.menu_geral ul.menu {
				border: inherit !important;
			}
			
            .topo .custom-logo-link {
				display: block;
                width: 80px;
                top: 0px;
                left: 50%;
                margin-left: -40px;
            }

            .topo .menu_geral .menu_links {
                position: fixed;
                top: 45px;
				top: -200%;
				right: 0;
                width: 100%;
                height: calc(100% - 45px);
                z-index: 1;
                display: flex;
                justify-content: flex-end;
                -webkit-transition: 0.5s ease-out;
                -moz-transition: 0.5s ease-out;
                -o-transition: 0.5s ease-out;
				transition: 0.5s ease-out;
				transition: all 500ms ease;
            }

            .topo .menu_geral .menu_links ul li {
                display: block;
				background: $cor-12;
				opacity: 0.90;
            }

            .topo .menu_geral .menu_links ul li a {
				text-align: left;
				
            }
            
			.topo .menu_geral ul li ul li a {
				border-bottom: inherit;
				text-transform: initial;
				color: $cor-5 !important;
				
			}
			.topo .menu_geral ul li ul li {
				&.current_page_item a {
					border-bottom: 1px solid $cor-branca;
					width: 50%;
					margin: 0 auto;
				}
			}
			
            .topo .menu_geral ul:not(.sub-menu) > li a {
				text-align: center;
				color: $cor-branca;
				
            }

            .topo .menu_geral .menu_links > ul {
                width: 250px;
            }

            .menu_links {
                margin-top: 0;
                padding-top: 0;
                border-top: 0;
			}
			
			.menu-menu-principal-container {
				width: 100%;
				z-index: 9999999999;
				background: $cor-12;
				opacity: 0.90;
			}

            .menu_geral .menu_links ul.menu {
                padding-top: 0;
                border-top: 0px;
            }

            .topo input#menu:checked ~ .menu_geral .menu_links {
				top: 60px;
				right: 0%;
            }

            .menu_geral ul li ul {
                position: relative;
                visibility: visible;
                background: transparent;
				opacity: 1;
				padding: 10px 0;
				margin-top: 0;
			}
			
			/*Rodapé*/
            .footer{
				text-align: center;
				.container {
					.footer-container {
						.footer-logo {
							display: none;
						}
						.footer-menu {
							display: none;
						}
						.footer-endereco {
							border-left: inherit;
						}
					}
				}
			}
			
			.empreendimentos-slide {
				height: auto;
				.part-noticias {
					.img-wp {
						a {
							.img-wp {
								height: 260px;
							}
						}
					}
					.swiper-empreendimentos-slide {
						.swiper-button-prev {
							top: 8% !important;
							
							.svg-inline--fa {
								height: 260px;
							}
						}
						
						.swiper-button-next {
							top: 8% !important;
							
							.svg-inline--fa {
								height: 260px;
							}
						}
					}
				}
			}

			
        }
    }
}